<h1>Create a Team and Heroes!</h1>

<form method="post" action="/teams">

  Team Name: <input type="text" name="team[name]">
  Team Motto: <input type="text" name="team[name][][motto]">

  <h1>Hero 1</h1>
  Hero's Name: <input type="text" name="team[hero][][name]">
  Hero's Power: <input type="text" name="team[hero][name][][power]">
  Hero's Power: <input type="text" name="team[hero][name][][biography]">
  <h1>Hero 2</h1>
  Hero's Name: <input type="text" name="team[hero][][name]">
  Hero's Power: <input type="text" name="team[hero][name][][power]">
  Hero's Power: <input type="text" name="team[hero][name][][biography]">
  <h1>Hero 3</h1>
  Hero's Name: <input type="text" name="team[hero][][name]">
  Hero's Power: <input type="text" name="team[hero][name][][power]">
  Hero's Power: <input type="text" name="team[hero][name][][biography]">
  <input type="submit" value="Submit">
</form>
